body {
  margin:0 auto;
  padding:0 80px;
  font-size: 14px;
  color:#000;
  height: auto;
  /* position:relative; */
}
a {
  text-decoration: none;
  color:inherit;
}
.clearfix{
  clear:both;
}
.ps_10{padding:0 10px;}
/* .txt_tc{}/ */
#main{
  background:#fff;
  position:relative;
  display:flex;
  width:100%;
  height:82px;
  border:2px solid #000;
  /* flex:1 0 200px; */
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
#main > div{
  display: flex;
  /* height:60px; */
  text-align: center;
  align-items: center;
  
}
.logo{
  background:chocolate;
}
.search{
  background:violet;
}
.user{
  background:aquamarine; 
}



/* ============ 카테고리 바 만들기 ================*/
#category-bar{

}
.category-button{
  color:#71717171;
  font-size: 12px;
  font-weight:600;
  cursor: pointer;
  background:#fff;
  border:none;
}
.category-button img{
  width:28px;
  /* height:24px; */
  opacity: 0.5;
}
.category-button:active, .category-button:hover{
  color:#000;
}
.category-button:active img, .category-button:hover img{
  opacity: 1;;
}